library/SolomonoffLib
**.iml
.gradle
build
cli/build
library/build
.classpath
.idea
.project
.settings/
generated-src/
target/
bin/
cli/generated-src/
cli/target/
cli/bin/
library/generated-src/
library/target/
library/bin/
batch_tests/*.output
docs/*.aux
docs/*.blg
docs/*.log
docs/*.out
docs/*.synctex.gz
docs/*.bbl
